// Colours
$bodyColour: rgb(206, 205, 195);
$headingColour: darken($bodyColour, 5%);
$linkColour: rgb(188, 82, 21);
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 0%);
$white: #fff;

$backgroundColour: rgb(16, 15, 15);
$codeBackgroundColour: darken($backgroundColour, 5%);
